.Rproj.user
.Rhistory
.RData
potsdam_poster.Rproj
amyloid_poster.aux
amyloid_poster.log
amyloid_poster.nav
amyloid_poster.out
amyloid_poster.snm
amyloid_poster.synctex.gz
amyloid_poster.tex
amyloid_poster.toc
amyloid_poster-concordance.tex
london_poster-concordance.tex
london_poster.aux
london_poster.log
london_poster.nav
london_poster.out
london_poster.snm
london_poster.synctex.gz
london_poster.tex
london_poster.toc
